@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html,
 body {
   position: relative;
   height: 100%;
 }

 body {
   background: #eee;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
 }

 .swiper {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 300px;
   height: 300px;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
 }

body{
    font-family: "Plus Jakarta Sans", system-ui;
    background-color: #FAFAFA ;
}
 .large-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
 }
 a{
    color: #212529;
 }
 ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
 }
 ::-webkit-scrollbar-thumb{
    background: #f44335;
 }
 /* swiper code */
 html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }